.firstCard{
    display: flex;
    margin-top: 100px;
}


@media(min-width: 1023px){
    .cardText1{
        background-color: rgb(194, 190, 190);
        width: 35%;
        height: 260px !important;
        align-self: center;
        z-index: 2;
        position: relative;
        left: 10%;
    }
    
    .FCimage{
        position: relative;
        width: 40%;
        z-index: 1;
    }
    .cardTitle1{
        text-align: center;
        font-size: 180%;
        margin-top: 10px;
    }
    .cardContent1{
        padding: 20px 20px;
        margin-top: 10px;
        font-weight: 150;
        font-size: 120%;
        text-align: start;
    }
}

@media(min-width: 768px) and (max-width: 1022px){
    .cardText1{
        background-color: rgb(194, 190, 190);
        width: 35%;
        align-self: center;
        height: 350px;
        z-index: 2;
        position: relative;
        border-radius: 10px 0 0 10px;
    }
    
    .FCimage{
        position: relative;
        width: 40%;
        z-index: 1;
    }
    .cardTitle1{
        text-align: center;
        font-size: 180%;
        margin-top: 10px;
    }
    .cardContent1{
        padding: 20px 20px;
        font-weight: 150;
        padding-bottom: 40px;
        font-size: 120%;
        text-align: start;
    }
    .firstCard{
        margin-top: 100px;
        justify-content: center;
    }
}
@media(min-width: 600px) and (max-width:766px){
    .FCimage{
        width: 60%;
        position: relative;
        z-index: 2;
        bottom: 150px;
    }
    .cardText1{
        background-color: rgb(194, 190, 190);
        width: 70%;
        text-align: center;
        margin: 0 auto;
        padding-top: 5px;
        height: 300px;
    }
    .cardTitle1{
        text-align: center;
        font-size: 130%;
        margin-top: 10px;
    }
    .cardContent1{
        font-weight: 150;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 95%;
        text-align: start;
    }
    .firstCard{
        display: block;
        margin: 0 auto;
        margin-top: 100px;
    }
}
@media(max-width: 599px){
    .cardText1{
        background-color: rgb(194, 190, 190);
        width: 70%;
        text-align: center;
        margin: 0 auto;
        padding-top: 5px;
        height: 300px;
    }
    .FCimage{
        width: 60%;
        position: relative;
        z-index: 2;
        bottom: 100px;
    }
    .cardTitle1{
        text-align: center;
        font-size: 130%;
        margin-top: 10px;
    }
    .cardContent1{
        font-weight: 150;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 95%;
        text-align: start;
    }
    .firstCard{
        display: block;
        margin: 0 auto;
        margin-top: 100px;
    }
}