.bodyDetalles{
    background-color:  #ebe2e2;
    display: flex;
    justify-content: center;
    height: 800px;
}
.cardDetalles{
    background-color: #001f3f;
    color: white;
    height: max-content;
    margin-top: 100px;
    width: 80%;
    align-content: center;
}
.card-titleDetalles{
    margin-bottom: 20px;
}
.card-bodyDetalles{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    margin: 10% 10%;
}
.carousel{
    width: 80%;
    height: 40%;
    margin: 10% 10%;
}
.card-text{
 font-size: 15px;
}
